.team-heading {
    background-color: #003259;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 18px;
}

.card-header {
    background-color: #253141;
    color: white;
}